<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Tasks</h1>

<%= link_to 'Back to Lists', lists_path %> 

<div id="tasks">
  <% @tasks.each do |task| %>
    <%= render task %>
    <p>
      <%= link_to "Show this task", list_task_path(@list, task)%>
    </p>
  <% end %>
</div>

<%= link_to "New task", new_list_task_path %>
