<p style="color: green"><%= notice %></p>

<%= render @task %>

<div>
  <%= link_to "Edit this task", edit_list_task_path(@list, @task) %> |
  <%= link_to "Back to tasks", list_tasks_path(@list, @task) %>

  <%= button_to "Destroy this task", [@list, @task], method: :delete %>
</div>
