<div class="min-h-screen w-full bg-gradient-to-r from-rose-500 to-orange-300 py-12 px-4 sm:px-6 lg:px-8 flex items-center justify-center">
  <div class="max-w-md w-full bg-white rounded-2xl shadow-lg p-8">
    <div class="text-center mb-8">
      <% if alert = flash[:alert] %>
        <p class="py-2 px-3 bg-rose-50 mb-5 text-rose-600 font-medium rounded-lg inline-block" id="alert"><%= alert %></p>
      <% end %>

      <div class="inline-flex p-3 rounded-full bg-rose-100 text-rose-600 mb-4">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z" />
        </svg>
      </div>
      
      <h2 class="text-rose-500 text-3xl font-bold tracking-tight">
        Forgot your password?
      </h2>
      <p class="mt-2 text-sm text-gray-500">
        Enter your email address and we'll send you reset instructions
      </p>
    </div>

    <%= form_with url: passwords_path, class: "space-y-6" do |form| %>
      <div>
        <label class="block text-sm font-medium text-gray-700">Email address</label>
        <%= form.email_field :email_address,
            required: true,
            autofocus: true,
            autocomplete: "username",
            placeholder: "you@example.com",
            value: params[:email_address],
            class: "mt-1 block w-full px-3 py-2 bg-gray-50 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-rose-200 focus:border-rose-300 transition duration-150" %>
      </div>

      <div class="flex flex-col space-y-4">
        <%= form.submit "Email reset instructions",
            class: "w-full flex justify-center py-2 px-4 border border-transparent rounded-lg shadow-sm text-sm font-medium text-white bg-rose-500 hover:bg-rose-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-rose-300 transition duration-150 p" %>
        
        <%= link_to "Back to Sign in",
            new_session_path,
            class: "mt-5 text-center text-sm text-rose-400 hover:text-rose-500 hover:underline transition duration-150" %>
      </div>
    <% end %>
  </div>
</div>